{% load static %}


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Просто магазин</a>
    <img src="{% static  'logo.svg' %}" alt="" width="42" height="42">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">
                    Главная</a>
            </li>
            {% for group in menu_group %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown{{ group.id }}"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ group.cat_group_name }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown{{ group.id }}">
                        {% for cat in group.category_set.all %}
                            <a class="dropdown-item" href="{% url 'catalog_view' cat_id=cat.id %}">
                                {{ cat.cat_name }}</a>
                        {% endfor %}
                    </div>                    `
                </li>
            {% endfor %}
            {% for cat in menu_no_group %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog_view' cat_id=cat.id %}">
                        {{ cat.cat_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <a class="btn btn-outline-success my-2 my-sm-0" role="button"
           href="./cart.html">
            Корзина</a>

        {% if request.user.is_authenticated %}
            <a class="btn btn-outline-success my-2 my-sm-0" role="button"
               href="{% url 'logout' %}">
                вЫйти</a>
        {%  else %}
            <a class="btn btn-outline-success my-2 my-sm-0" role="button"
               href="{% url 'login' %}">
                вОйти</a>
        {% endif %}

    </div>
</nav>